<h3>Code Editor</h3>

<mat-form-field>
  <mat-select placeholder="Theme" [(value)]="activeTheme">
    <mat-option *ngFor="let theme of themes" [value]="theme.value">
      {{ theme.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<input type="file" #file style="display: none" accept=".ts, .js" (change)="onFileSelected($event)">
<button mat-raised-button (click)="onLoadClicked()">Load</button>

<ngs-code-editor [theme]="activeTheme" [(value)]="code" [dependencies]="dependencies" [options]="options" (valueChanged)="onCodeChanged($event)">
</ngs-code-editor>
